@use "../base/variables" as *;
@use "../base/functions" as *;
@use "../base/mixins" as *;

.mv {
  display: flex;
  align-items: center;
  gap: rem(80);
  width: 100%;
  height: 100vh;
  background-color: $color-black;
}

.mv__image {
  margin-inline: auto;
  max-width: 500px;
  width: 100%;
  height: 80%;
  object-fit: cover;
  opacity: 0;
  transform: scale(0.8);

  @include sp {
    max-width: 380px;
    height: auto;
  }

  @include mq_free(450) {
    max-width: 80%;
    height: auto;
  }
}